*{
    margin: 0;
    padding: 0;
}
.board{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 88vmin;
    height: 95vmin;
    grid-template-columns: repeat(15,1fr);
    grid-template-rows: repeat(18,1fr);
    background: url('board.jpg');
    background-position: center;
    background-size: 90vmin;
    background-repeat: no-repeat;
}